#country {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 44%;
}

#country img {
    height: 100%;
    vertical-align: middle;
}

#country button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#country.left {
    margin-right: 4%;
}

#country.right {
    margin-left: 4%;
}

#country > .info {
    color: white;
    text-align: right;
    vertical-align: middle;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: table-cell;
}

#country > .info > p {
    font-size: 20px;
}

#country > .info.rate > p {
    display: inline;
}

#country > .info.flag {
    text-align: center;
    width: var(--width-flag);
    vertical-align: middle;
}

#country > .info.code {
    width: var(--width-code);
    text-align: left;
}

#country > .info.name {
    width: var(--width-name);
    text-align: left;
}

#country > .info.rate {
    width: var(--width-rate);
}

#country > .info.change {
    width: var(--width-change);
}

#country > .info.arrow {
    width: var(--width-arrow);
}

/* Colors */

#country > .info.up {
    color: green;
}

#country > .info.down {
    color: red;
}