@import '../../util/constants.css';

#menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1px;
    width: 15%;
    text-align: center;
    background-color: var(--background-color);
}

#menu > .data.toggle {
    display: table-cell;
    width: 80%;
    padding: 2px;
}

#menu > .data.select {
    display: table-cell;
    width: 20%;
    padding: 2px;
}

#menu button {
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

#menu select {
    font-size: 16px;
    cursor: pointer;
}