@import '../../util/constants.css';

#annotations {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: left;
    background-color: var(--background-color);
}

#annotations p {
    font-family: monospace;
    color: white;
    display: inline;
    font-size: 16px;
}

a:link {
    color: rgb(63, 140, 255);
}

a:visited {
    color: plum;
}
