#country-row {
    text-align: left;
    display: table;
}

img {
    height: 100%;
    vertical-align: middle;
}

.info {
    color: white;
    text-align: right;
    vertical-align: middle;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: table-cell;
    border: 0px solid blue;
}

.info > p {
    font-weight: bold;
    font-size: 20px;
}

/* Spacing */

.info.flag {
    text-align: center;
    width: 8%;
    vertical-align: middle;
}

.info.code {
    width: 10%;
    text-align: left;
}

.info.country {
    
    width: 44%;
    text-align: left;
}

.info.rate {

    width: 18%;
}

.info.change {

    width: 18%;
}

.info.arrow {

    width: 2%;
}

/* Colors */

.info.up {
    color: green;
}

.info.down {
    color: red;
}
