#country-row {
    text-align: left;
    /*background-color: aqua;*/
}

img {
    height: 40px;
    width: 40px;
}

.info {
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}

p.info {
    font-weight: bold;
    font-size: 20px;
}

.rate {
    color: white;
}

.up {
    color: green;
}

.down {
    color: red;
}
