@import '../../util/constants.css';

#country-row {
    text-align: center;
    width: 100%;
    display: table;
    border: 0px solid green;
}

#country {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 44%;
}

img {
    height: 100%;
    vertical-align: middle;
}

button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.info {
    color: white;
    text-align: right;
    vertical-align: middle;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: table-cell;
    border: 0px solid green;
}

.info > p {
    font-size: 20px;
}

/* Spacing */

#country.left {
    margin-right: 4%;
}

#country.right {
    margin-left: 4%;
}


.info.flag {
    text-align: center;
    width: var(--width-flag);
    vertical-align: middle;
}

.info.code {
    width: var(--width-code);
    text-align: left;
}

.info.name {
    width: var(--width-name);
    text-align: left;
}

.info.rate {
    width: var(--width-rate);
}

.info.change {
    width: var(--width-change);
}

.info.arrow {
    width: var(--width-arrow);
}

/* Colors */

.info.up {
    color: green;
}

.info.down {
    color: red;
}
