#country-row {
    text-align: center;
    width: 100%;
    display: table;
    border: 0px solid green;
}

.country {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 44%;
}

img {
    height: 100%;
    vertical-align: middle;
}

button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.info {
    color: white;
    text-align: right;
    vertical-align: middle;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: table-cell;
    border: 0px solid blue;
}

.info > p {
    font-weight: bold;
    font-size: 20px;
}

/* Spacing */

.country.left {
    margin-right: 4%;
}

.country.right {
    margin-left: 4%;
}

.info.flag {
    text-align: center;
    width: 8%;
    vertical-align: middle;
}

.info.code {
    width: 10%;
    text-align: left;
}

.info.name {
    
    width: 44%;
    text-align: left;
}

.info.rate {

    width: 18%;
}

.info.change {

    width: 18%;
}

.info.arrow {

    width: 2%;
}

/* Colors */

.info.up {
    color: green;
}

.info.down {
    color: red;
}
