@import '../../util/constants.css';

header {
    text-align: center;
    width: 100%;
    display: table;
    border: 0px solid green;
}

#subheader {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 44%;
}


.column {
    color: white;
    text-align: right;
    vertical-align: middle;
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: table-cell;
    border: 0px solid green;
}

.column > p {
    font-size: 20px;
    font-weight: bold;
}

/* Spacing */

#subheader.left {
    margin-right: 4%;
}

#subheader.right {
    margin-left: 4%;
}

.column.flag {
    text-align: center;
    width: var(--width-flag);
    vertical-align: middle;
}

.column.code {
    width: var(--width-code);
    text-align: left;
}

.column.name {
    width: var(--width-name);
    text-align: left;
}

.column.rate {
    width: var(--width-rate);
}

.column.change {
    width: var(--width-change);
}

.column.arrow {
    width: var(--width-arrow);
    color: var(--background-color);
}

