name: Currency UI Deployment
run-name: Currency UI ${{ github.run_id }}
on:
  push:
    branches:
      - master

jobs:
  build_web_app:
    name: Build Web App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - run: cd app
      - run: npm run build

      - uses: actions/upload-artifact@master
        with:
          name: app-artifact
          path: app

  download_web_app:
    name: Download Web App
    needs: build_web_app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@master
        with:
          name: app-artifact
          path: artifact
      
      - run: ls artifact/build
