name: Currency UI Deployment
on:
  push:
    branches:
      - master

jobs:
  build_web_app:
    name: Build Web App
    runs-on: ubuntu-latest
    steps:
      - name: Print
        run: echo Hello World!