name: Currency UI Deployment
run-name: Currency UI run ${{ github.run_id }}
on:
  push:
    branches:
      - main
      - development
    paths:
      - .github/workflows/deploy_ui.yaml
      - app/**/*

jobs:
  build_web_app:
    name: Build Web App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build
        run: |
          cd app
          npm install
          npm run build

      - uses: actions/upload-artifact@master
        with:
          name: app-artifact
          path: app

  download_web_app:
    name: Download Web App
    needs: build_web_app
    runs-on: ubuntu-latest
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      
      - uses: actions/download-artifact@master
        with:
          name: app-artifact
          path: artifact

      - run: aws s3 sync artifact/build s3://currency-exchange-static-ui --delete
