name: Currency UI Deployment
on:
  push:
    branches:
      - master

jobs:
  build_web_app:
    name: Build Web App
    runs-on: ubuntu-latest
    steps:
      - run: echo Hello World! > test.txt
      - run: cat test.txt