name: Currency Data App Deployment
run-name: Currency App run ${{ github.run_id }}
on:
  push:
    branches:
      - main
      - development
    paths:
      - .github/workflows/deploy_app.yaml
      - lambda/**/*
      - cloudformation.yaml

jobs:
  install_dependencies:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install Dependencies
        run: |
          cd lambda/api
          npm install
          cd ../data
          npm install

      - uses: actions/upload-artifact@master
        with:
          path: "."

  deploy_cloudformation:
    name: Deploy Cloudformation
    needs: install_dependencies
    runs-on: ubuntu-latest
    env:
      S3_BUCKET: ${{ vars.S3_BUCKET }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      
      - uses: actions/download-artifact@master
        with:
          path: "."

      - name: Build
        run: |
          cd artifact
          sam build -t cloudformation.yaml

      - name: Deploy
        run: |
          cd artifact
          sam deploy -t cloudformation.yaml --stack-name Exchange-Rates --capabilities CAPABILITY_NAMED_IAM --s3-bucket $S3_BUCKET